*{
    margin: 0;padding: 0;
}
body {
    font-family: Montserrat,Lato,
    'Helvetica Neue',Segoe UI;
    margin: 0;
    background-color: #1b1b1b;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b1b; 
    padding: 0.5rem 1rem; 
    max-width: 100%; 
    box-sizing: border-box;
    margin-bottom: 30px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.page-name {
    margin: 10px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-right: 0.5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.toggle-container {
    margin-right: 0.5rem; 
}

.toggle {
    display: none;
}

.toggle-btn {
    display: block;
    width: 28px;
    height: 14px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.toggle-btn:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 1s;
}

.toggle:checked + .toggle-btn {
    background-color: #007bff;
}

.toggle:checked + .toggle-btn:before {
    left: 16px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
    display: flex;
    align-items: center; 
}

.nav-links li:first-child {
    margin-left: 0.5rem; 
}

.nav-links li a {
    color: #818180;
    text-decoration: none;
    font-size: 0.9rem; 
}

.dashboard-icon{
    font-size: 1.2rem; 
    font-weight: bold;
    background-color: #007bff; 
    border-radius: 50px;
    padding: 8px 16px;
    text-align: center;
    
    margin-left: 0.3rem; 
    display: inline-block; 
    text-decoration: none;
}
.nav-links .dashboard-icon{
    color: white;
}

.card-img{
    height: 100px;
    width: 100px;
}

.card {
    width: 250px;
    background-color: #1A1B1A;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.crypto-info-grid {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.crypto-info-list{
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.crypto-names,.crypto-names-list-view{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}


.card-img {
    width: 80px;
    height: 80px;
}

.short-name {
    font-size: 18px;
    font-weight: bold;
}

.full-name {
    font-size: 12px;
    color: #888;
}

.capsule {
    border-radius: 20px; 
    padding: 4px 8px;
    margin-bottom: 20px;
    font-size: 12px;
    padding-left: -40px;
    display: inline-block;
    border: 2px solid #4CAF50;
}

.percentage {
    color: rgb(17, 179, 17);
}

.current-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    color: rgba(17, 179, 17, 0.836);
}

.total-volume,
.market-cap {
    font-size: 14px;
    color: #888;
    font-weight: bold;
    margin-bottom: 6px;
}

.grid-view{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

.titles{
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    margin-bottom:24px;
}

.blue-bar{
    text-align: center;
    width: 30%;
    padding-bottom: 20px;
    border-bottom:2px solid #007bff;
}
button{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.grid-list-title{
    color: #007bff;
  
}

.list-view{
    display: flex;
    justify-content: center;
    
}
table{
    margin: 10px;
    border-collapse: collapse;
    width: 80%;
    min-width: 700px;

}
.hamburger-icon {
    display: none;
    width: 25px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .nav-links,.toggle-btn {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #1b1b1b;
        padding: 1rem;
    }


.nav-links li {
    margin-left: 1rem;
    display: flex;
    justify-content: center; 
}

.nav-links li:first-child {
    margin-left: 0.5rem; 
}

.nav-links li a {
    color: #818180;
    text-decoration: none;
    font-size: 0.9rem; 
}

    
    .grid-view{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }
    .nav-links.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hamburger-icon{
        display: flex;
    }
    
    .toggle-container {
        position: relative;
    }
    .card{
        margin: auto;
        justify-content: center;
    }

    /* .toggle-btn, .toggle {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    } */
}

@media (min-width: 769px) and (max-width: 927px) {
    .grid-view{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }
    .card{
        width: 50%;
        margin: auto;
        justify-content: center;
    }
}

@media (min-width: 928px) and (max-width: 1100px) {
    .grid-view{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }
    .card{
        margin: auto;
        justify-content: center;
    }
}
@media (min-width: 1101px) and (max-width: 1240px) {
    .grid-view{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }
}
@media (max-width: 618px) {
    .grid-view{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .card{
        width:50% ;
        margin: auto;
        justify-content: center;
    }
}
@media (max-width: 718px) {
    .list-view{
        width: 100%;
        overflow: scroll;
        height: fit-content;
    }
}
